/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
        background: #d6d6d6;
        border: 0;
        margin: 0;
    }
    .logo{
        display: none;
    }

    @keyframes logo-intro {
        0%,50%{
            transform: scale(1.5);
            margin-left: 0px;
        }
        100%{
            transform: scale(1);
            margin-left: -118px;
        }
    }
    @keyframes m-intro {
        0%,50%{
            height: 100vh;
        }
        100%{
            height: 9vh;
        }
    }
    @keyframes title-intro {
        0%{
            display: none;
        }
        50%{
            display: none;
            opacity: 0;
        }
        100%{
            opacity: 1;
            display: block
        }
    }
    .m-title{
        animation: title-intro 4s ease;
    }
    .pub-logo{
        animation: m-intro 4s ease;
        position: fixed;
        z-index: 1000;
        display: block;
        width: 100vw;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #f56e0f;
        box-shadow: 0px 5px 10px #a9a7a7;
    }
    .logo-img2{
        width: 60px;
        height: 60px;
        margin-left: -15px;
        animation: logo-intro 2s ease;
    }
    .header{
        background: #ffffff;
        top: 93%;
        position: fixed;
        width: 100vw;
        height: auto;
        height: 43px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        box-shadow: -5px -20px 40px #6e6d6d;
        z-index: 99;
    }
    .curve{
        position: absolute;
        width: 60px;
        height: 43px;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    .tab{
        transition-property: margin-top;
        transition-duration: .5s;
    }
    .tab.t{
        margin-top: -57px;
        z-index: 9999;
    }
    .tab.t>ion-icon{
        color: #ffffff;
    }
    .cover{
        width: 100%;
        height: 7px;
        position: absolute;
        top: 0;
        left: 0;
        background: #969595;
    }
    .center{
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translate(-50%);
        width: 42px;
        height: 30px;
        background: #969595;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .left-curve{
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 20px;
        background: #ffffff;
        border-top-right-radius: 100px;
    }
    .right-curve{
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 20px;
        background: #ffffff;
        border-top-left-radius: 100px;
    }
    .ball{
        width: 35px;
        height: 35px;
        background: #f56e0f;
        border-radius: 100%;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 2px 2px 3px #6e6d6d;
        z-index: 999;
    }
    .tabs{
        width: 100vw;
        margin-bottom: -20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .tabs>a{
        color: #f56e0f;
        margin-left: 6%;
        z-index: 9999;
    }
    ion-icon{
        font-size: 22px;
    }
    .tab-names{
        display: none;
    }
    .main-tabs{
        position: absolute;
        top: 65px;
        width: 100vw;
        height:80vh;
        display: flex;
        justify-content: center;
        align-items: center;;
    }
    .l-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        font-size: 16px;
    }
    .login-btn{
        border: none;
        background: #f56e0f;
        color: #ffffff;
        border-radius: 10px;
        font-size: 16px;
        padding: 7px 20px;
        box-shadow: 2px 2px 5px #6e6d6d;
    }
    .login-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .login {
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        font-weight: bold;
        font-size: x-large;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        width: 280px;
        flex-direction: column;
        gap: 35px;
        background: #ffffff;
        border-radius: 8px;
    }  
    .inputBox {
        position: relative;
        width: 250px;
    }
    .inputBox input {
        width: 92%;
        padding: 10px;
        outline: none;
        border: none;
        color: #000;
        font-size: 12px;
        background: transparent;
        border-left: 2px solid #f56e0f;
        border-bottom: 2px solid #f56e0f;
        transition: 0.1s;
        border-bottom-left-radius: 8px;
    }
    .inputBox span {
        margin-top: 5px;
        position: absolute;
        left: 0;
        transform: translateY(-4px);
        margin-left: 10px;
        padding: 10px;
        pointer-events: none;
        font-size: 12px;
        color: #000;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 3px;
        border-radius: 8px;
    }  
    .inputBox input:valid~span,
    .inputBox input:focus~span {
        transform: translateX(113px) translateY(-15px);
        font-size: 0.8em;
        padding: 5px 10px;
        background: #f56e0f;
        letter-spacing: 0.2em;
        color: #fff;
        border: 2px;
    }  
    .inputBox input:valid,
    .inputBox input:focus {
        border: 2px solid #f56e0f;
        border-radius: 8px;
    }
    .enter {
        height: 45px;
        width: 100px;
        border-radius: 5px;
        border: none;
        background-color: #f56e0f;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        margin-bottom: 1em;
        box-shadow: 2px 2px 5px #6e6d6d;
    }
    @keyframes logout-ani {
        0%,100%{
            display: none;
        }
    }
    .logout{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 32px;
        animation: logout-ani 4s;
        z-index: 9999;
        color: #ffffff;
    }
    .logout>ion-icon{
        font-size: 26px;
    }
    .user-concern{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .add{
        position: absolute;
        bottom: 50px;
        right: 10px;
        font-size: 18px;
        width: 80px;
        display: flex;
        align-items: center;  
        justify-content: center;  
        height: 35px;
        border-radius: 10px;
        padding-right: 8px;
        color: #ffffff;
        background: #f56e0f;
        box-shadow: 2px 2px 8px #6e6d6d;
        z-index: 15;
    }
    .add>ion-icon{
        font-size: 20px;
        color: #ffffff;
    }
    .add-concern{
        position: absolute;
        width: 96%;
        height: 90%;
        background: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index: 12;
        border-radius: 10px;
        box-shadow: 2px 2px 30px #b5b3b3;
    }
    .title-cover{
        position: absolute;
        width: 100%;
        height: 80px;
        background: #f56e0f;
        top: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius:100%;
    }
    .card-title{
        color: #ffffff;
        z-index: 99990;
        margin-top: -10px;
    }
    .user-concern{
        width: 100%;
        height: 100%;
    }
    body{
        position: relative;
    }
    .concern-container{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 10px;
    }
    .concern-card img{
        width: 250px;
        height: 120px;
    }
    .concern-card{
        width: 93%;
        height:auto;
        background: #ffffff;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        box-shadow: 5px 5px 15px #a9a7a7;
    }
    .image{
        margin-top: 15px;
        border-radius: 10px;
        width: 90%;
        height:180px;
        background: #b5b3b3;
        position: relative;
    }
    .like-dislike-container{
        position: absolute;
        top: 25px;
        left: -2px;
        background: #ffffff;
        border-radius: 20px;
        border: 1px solid #f56e0f;
    }
    .image>img{
        width: 100%;
        height: inherit;
        border-radius: 15px;
    }
    .concern-title{
        width: inherit;
        padding-left: 2%;
        margin-top: -10px;
    }
    .desc,.progress{
        margin: 0;
        padding-left: 6%;
        padding-right: 5%;
        width: inherit;
        margin-top: -20px;
    }
    .location>p{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .location{
        display: flex;
        width: inherit;
        justify-content: space-around;
        align-items:center;
        margin-top: -15px;
    }
    .progress{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .global>p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .menu{
        position: absolute;
        top: -4px;
        right: -3px;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;    
        align-items: center;
        border: 1px solid #f56e0f;
    }
    .menu-icon{
        border: none;
        background: #fff;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        z-index: 10;
    }
    .editBtn{
        top: 45px;
        animation: drop .5s ease;
        display: none;
    }
    .editBtn.t{
        display: block;
    }
    .menu-icon>ion-icon{
        color: #f56e0f;
    }
    p>ion-icon{
        color: #f56e0f;
    }
    @keyframes drop {
        0%{
            top:0;
        }
        100%{
            top: 45px;
        }
    }
    @keyframes drop2 {
        0%{
            top: 0;
        }
        100%{
            top: 90px;
        }
        
    }
    .username{
        color: #f56e0f;
        height: 0px;
    }
    .update{
        color: #ffffff;
        background: #f56e0f;
        border: none;
        border-radius: 5px;
        padding:5px 10px;
        font-weight: 600;
    }
    .input-wrapper>input{
        background-color:#fff;
        accent-color:#f56e0f;
    }
    .profile{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -80px;
    }
    .profile-body{
        width: 95%;
        height: 100%;
        background: #ffffff;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: #969595 10px 10px 30px;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .userdata{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #username{
        color: #f56e0f;
    }
    .post-count{
        background: #fff;
        box-shadow: #6e6d6d 5px 4px 10px;
        width:270px;
        height: 45px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 10px;
        align-items: center;
        margin-top: 10px;
    }
    #l{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .back-ball{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0px;
        background-color: #f56e0f;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        box-shadow: #969595 10px 10px 30px;
    }
    .back-ball>ion-icon{
        font-size: 30px;
        color: #ffffff;
    }

}
/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Extra large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* Extra extra large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {

}
